In [61]:
%endpoint http://localhost:3030/911

Endpoint set to: http://localhost:3030/911

# Query 1

All incident numbers of all incidents that happened at 517 3rd Av

In [62]:
%display table
PREFIX schema: <http://sAll incident numbers of all incidents that happened at 517 3rd Av
chema.org/>
PREFIX moac: <http://observedchange.com/moac/ns/#>
SELECT ?Incident ?Emergency
WHERE { ?Incident schema:address "725 9th Av".
       ?Incident moac:Emergency ?Emergency.
      }

Display: table

Incident,Emergency
http://www.example.com/F200107501,Aid Response
http://www.example.com/F200107256,Aid Response

# Query 2

In [63]:
All incidents of response type AId response reported between two dates

Error: SPARQL error: QueryBadFormed: a bad request has been sent to the endpoint, probably the sparql query is bad formed.

Response:
b'Parse error: \nAll incidents of response type AId response reported between two dates\nEncountered " "all" "All "" at line 1, column 1.\nWas expecting one of:\n    "\\ufeff" ...\n    "base" ...\n    "prefix" ...\n    "select" ...\n    "json" ...\n    "describe" ...\n    "construct" ...\n    "ask" ...\n    \n'

In [64]:
PREFIX schema: <http://schema.org/>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX moac: <http://observedchange.com/moac/ns/#>
SELECT ?Incident ?Date
WHERE { ?Incident schema:DateTime ?Date.
       FILTER(?Date >= "2020-10-31T21:35:00.000"^^xsd:dateTime
       && ?Date <= "2020-10-31T22:35:00.000"^^xsd:dateTime)
        ?Incident moac:Emergency "Aid Response".
      }
LIMIT 10

Incident,Date
http://www.example.com/F200107954,2020-10-31T22:04:00.000
http://www.example.com/F200107953,2020-10-31T22:03:00.000
http://www.example.com/F200107951,2020-10-31T21:59:00.000
http://www.example.com/F200107952,2020-10-31T22:02:00.000
http://www.example.com/F200107950,2020-10-31T21:47:00.000
http://www.example.com/F200107949,2020-10-31T21:39:00.000

# Query 3

All response types of incidents that happened in place with longitude "-122.318034"

In [65]:
PREFIX schema: <http://schema.org/>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX moac: <http://observedchange.com/moac/ns/#>
SELECT ?Incident ?Emergency ?Address 
WHERE {?Incident schema:longitude "-122.318034".
       ?Incident schema:address ?Address.
       ?Incident moac:Emergency ?Emergency.
      }

Incident,Emergency,Address
http://www.example.com/F200107953,Aid Response,1105 E Fir St

# Query 4

In [66]:
PREFIX schema: <http://schema.org/>
PREFIX ex: <http://www.example.com/>
PREFIX moac: <http://observedchange.com/moac/ns/#>
SELECT ?Incident ?Emergency
WHERE {?Report schema:GeoShape  "-122.325563".
        ?Report schema:GeoShape "47.606444".
       ?Incident ex:hasReportLocation ?Report.
      ?Incident moac:Emergency ?Emergency.
      }

Incident,Emergency
http://www.example.com/F200107256,Aid Response
http://www.example.com/F200107501,Aid Response

# Query 5